#theswitcher #wrap {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1rem;
  padding-bottom: 20px;
  padding-top: 20px;
}

#theswitcher button {
  padding: 0.25em 0.5em;
  border: 1px solid #AAA;
}

#theswitcher input {
  padding-left: 0.25em;
}

#theswitcher ::placeholder {
  color: #CCC;
}

#theswitcher button:not(.saveData):hover {
  opacity: .6;
}

#theswitcher h1 {
  margin-bottom: 20px;
}

#theswitcher .explain {
  margin-bottom: 20px;
}

#theswitcher .appContainer {
  padding: 30px 0 20px;
  clear: both;
}

#theswitcher .projectWrap {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  border-left: 10px solid #333333;
  ;
}

#theswitcher .projectWrap.is-active {
  border-left-color: #5acd46;
}

#theswitcher .projectWrap dt {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid #EEE;
  padding-bottom: 10px;
}

#theswitcher .projectWrap dt input {
  margin-right: 10px;
}

#theswitcher .projectWrap dd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#theswitcher .projectWrap dd::after {
  content: "";
  height: 0;
  width: 33%;
}

#theswitcher .projectWrap dd input {
  margin-bottom: 10px;
  width: 33%;
}

#theswitcher .btnRemeveProject {
  position: absolute;
  right: 0;
  top: -7px;
}

#theswitcher .left_btns {
  float: left;
  position: relative;
}

#theswitcher .btnAddProject,
#theswitcher .saveData,
#theswitcher .btnRemeveProject button,
#theswitcher .addURL {
  position: relative;
  text-align: left;
}

#theswitcher .right-btns {
  float: right;
}

#theswitcher .saveData {
  opacity: .4;
}

#theswitcher .reload {
  margin-right: 1em;
  position: relative;
}

#theswitcher .changed {
  opacity: 1;
  background-color: #E8BF51;
}

#theswitcher .error {
  background-color: pink;
}

#theswitcher .fa-solid.fa-user {
  margin-right: 1em;
}

#theswitcher .sample {
  opacity: .3;
  margin-bottom: 20px;
  padding-top: 40px;
  border-top: 3px dashed #ccc;
}

#theswitcher .operation img {
  display: inline-block;
}

#theswitcher .operation {
  margin-top: 10px;
  line-height: 1.6;
}

#theswitcher .operation span {
  color: #d28e22;
  font-weight: bold;
}

#theswitcher .operation span.code {
  color: #666;
  font-weight: bold;
  display: inline-block;
  background: #EEE;
  border-radius: 5px;
}

#theswitcher .operation h3.checkitout {
  margin-bottom: 0.5em;
}

#theswitcher .operation p {
  margin-bottom: 10px;
}

#theswitcher .morehint a {
  color: #5acd46;
}

#theswitcher .morehint a:hover {
  color: #d28e22;
  cursor: pointer;
}

#theswitcher .icon {
  display: inline-block;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

#theswitcher .close {
  display: none;
}

#theswitcher .logs {
  margin-bottom: 20px;
}

#theswitcher .caution {
  border: 1px solid rgb(200, 50, 50);
  padding: 0.25em 0.5em;
  margin-bottom: 1em;
}

#theswitcher footer {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  border-top: 1px solid #CCC;
  font-size: 1rem;
}

#theswitcher .operation p.checkpoint:hover {
  margin-left: 1em;
  transition: ease-in-out 400ms;
}

#theswitcher footer .icon-ew168 {
  background-image: url(../image/favicon.png);
  content: "";
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
}

#theswitcher .explain input[type=checkbox] {
  margin-right: 0.25em;
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
}

#theswitcher .explain.vmiddle {
  align-items: center;
  display: flex;
}

#theswitcher .explain:last-of-type {
  margin-bottom: 30px;
}

#theswitcher .explain.vmiddle::before {
  content: 'new!';
  display: inline-block;
  background-color: #d90368;
  color: #FFF;
  font-weight: bold;
  padding: 0 0.5em;
  margin-right: 0.5em;
  font-size: 50%;
}